<header>
  <h1>Encoder-Decoder</h1>
</header>

<div>
  <div>
    <label for="value">Value: </label>
    <input type="text" id="data">
    <button (click) = "myfunction()">Submit!</button>
    <br>
    <textarea id="output" cols="30" rows="10"></textarea>
  </div>
  <div class="option">
    <br>
    Base 64 Encode<input type="radio" name="value" value="Base 64 Encode">
    <br>
    Base 64 Decode<input type="radio" name="value" value="Base 64 Decode">
    <br>
    Base 64URl Encode<input type="radio" name="value" value="Base 64URL Encode">
    <br>
    Base 64URl Decode<input type="radio" name="value" value="Base 64URL Decode">
    <br>
    URL Encode<input type="radio" name="value" value="URL Encode">
    <br>
    URl Decode<input type="radio" name="value" value="URL Decode">
    <br>
    MD5 Hash<input type="radio" name="value" value="MD5 Hash">
    <br>
    Pretty JSON<input type="radio" name="value" value="Pretty JSON">
    <br>
    Quoted-Printable Encode<input type="radio" name="value" value="Quoted-Printable Encode">
    <br>
    Quoted-Printable Decode<input type="radio" name="value" value="Quoted-Printable Decode">
    <br>
    UTF16 Encode<input type="radio" name="value" value="UTF16 Decode">
    <br>
    Hex Decode<input type="radio" name="value" value="Hex Decode">
    <br>
  </div>
</div>